<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.1/css/bootstrap.min.css"
      integrity="sha384-VCmXjywReHh4PwowAiWNagnWcLhlEJLA5buUprzK8rxFgeH0kww/aWY76TfkUoSX"
      crossorigin="anonymous"
    />
    <title>Twitter Clone</title>
  </head>
  <body>
    <div class="container">
      <form action="POST">
        {% csrf_token %}
        <fieldset class="form-group">
          <legend class="border-bottom mb-4">Sign Up</legend>
          {{form.as_p}}
        </fieldset>
        <div class="form-group">
          <button class="btn btn-outline-info" type="submit">Sign Up</button>
        </div>
        <a href="#"><p>i have an account</p></a>
      </form>
    </div>
    {%if messages%}
        {% for message in messages %}
            {{message}}
        {%endfor%}
    {%endif%}
  </body>
</html>
